.DS_Store
__pycache__/
*.pyc

.mp312/
.vendor/
web_uploads/
website/frontend/node_modules/
website/frontend/dist/
website/public/
.vercel_python_packages/
website/api/.python-version
website/api/pyproject.toml
website/api/uv.lock

models/pose_iter_440000.caffemodel
.vercel
